
:root {
  --white-color: #FFFFFF;
  --prussian-blue-color: #003459;
  --winter-sky-color: #FF206E;
  --roman-silver-color: #828A95;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  background: var(--prussian-blue-color);
}

nav ul li {
  margin: 10px 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--white-color);
  opacity: .5;
  font-size: 15px;
}

.active {
  opacity: 1;
}

nav ul li a:hover {
  opacity: 1;
}

#error-container {
  background: var(--winter-sky-color);
  margin: 30px auto;
  width: 80%;
  border-radius: 15px;
  text-align: center;
  color: var(--white-color);
  padding: 30px;
  font-size: 15px;
  font-weight: bold;
}

#form-container {
  margin-top: 3%;
}

input, label {
  margin: 10px 0;
  font-size: 15px;
  border-radius: 5px;
}

#form-container { 
  display: grid;
  grid-template-columns: 20% auto;
}

#gender {
  grid-row-start: 5;
  grid-row-end: 8;
}

#hombrecontainer, #mujer-container, #otro-container {
  grid-column-start: 2;
  grid-column-end: 3;
}
