
:root {
  --white-color: #FFFFFF;
  --prussian-blue-color: #003459;
  --winter-sky-color: #FF206E;
  --roman-silver-color: #828A95;
}

#info-container { 
  border: 2px solid var(--prussian-blue-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  background: var(--prussian-blue-color);
}

nav ul li {
  margin: 10px 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--white-color);
  opacity: .5;
  font-size: 15px;
}

.active {
  opacity: 1;
}

nav ul li a:hover {
  opacity: 1;
}

span {
  display: block;
  margin: 10px 0;
  font-size: 15px;
}

#name-container {
  background: var(--roman-silver-color);
  border-radius: 5px;
  padding: 0 10px;
  color: var(--white-color);
}

#data-container {
  padding: 0 10px;
}

#table-container {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 15px;
}

.box {
  padding: 10px;
  border-bottom: 2px solid var(--roman-silver-color);
}

#main-container {
  padding: 0 2%;
}