
:root {
  --white-color: #FFFFFF;
  --prussian-blue-color: #003459;
  --winter-sky-color: #FF206E;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  border: 3px solid var(--prussian-blue-color);
  border-radius: 15px;
  width: 50%;
  margin: 0 auto;
}

#title {
  background: var(--prussian-blue-color);
  color: var(--white-color);
  width: 100%;
  margin: 0 0 10px;
  border-radius: 15px 15px 5px 5px;
}

#title h1 {
  text-align: center;
}

#form-container {
  width: 100%;
}

#form-container form {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

#btn-submit {
  margin: 0 auto;
  align-self: center;
  padding: 5px;
  height: auto;
}

#btn-submit:hover {
  background: var(--prussian-blue-color);
  color: var(--white-color);
}

#error-container {
  background: var(--winter-sky-color);
  margin: 30px auto;
  width: 60%;
  border-radius: 15px;
  text-align: center;
  color: var(--white-color);
  padding: 30px;
  font-size: 15px;
  font-weight: bold;
}

label {
  font-size: 15px;
  margin: 5px 0 0px;
  border-radius: 5px;
  height: 20px;
}

input {
  font-size: 15px;
  margin: 5px 0 15px;
  border-radius: 5px;
  height: 20px;
}